
* {
  margin: 0;
  padding: 0;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
    width: auto;
}

/*******  First level layout *******/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;
 
    display: flex;
    flex-direction: column;
    gap: 5vh;

}

.header {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: peachpuff;
}

.main-content {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightcoral;
}


/******* Second level layout *******/

/* Sidebar */

.sidebar > .title-sidebar {
    display: flex;
}

.title-sidebar > h1 {
    color: white;
}

.sidebar > .group-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.group-sidebar > .option-sidebar {
    display: flex;
}

.option-sidebar > h2 {
    color: white;
}


/* Header */



/* Main-content */


