
* {
  margin: 0;
  padding: 0;
}


body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;

    height: 100vh;
    width: auto;
}

/*******  First level layout *******/

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;
 
    display: flex;
    flex-direction: column;
    gap: 5vh;

}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: peachpuff;

    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightcoral;

    display: grid;
    grid-template-columns: 3fr 1fr;
}


/******* Second level layout *******/

/* Sidebar */

.sidebar > .title-sidebar {
    display: flex;
}

.title-sidebar > h1 {
    color: white;
}

.sidebar > .group-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.group-sidebar > .option-sidebar {
    display: flex;
}

.option-sidebar > h2 {
    color: white;
}


/* Header */

.header > #header-1st-row {
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw;
}

.header > #header-2nd-row {
    display: flex;
    justify-content: space-between;
    padding: 3vh 5vw;
}

#header-1st-row > .search-part {
    display: flex;
}

#header-1st-row > .notif-and-profile {
    display: flex;
}


#header-2nd-row > .hi-there-part {
    display: flex;
    align-items: center;
    gap: 2vh;
}

.hi-there-part > .full-text-hi-there {
    display: flex;
    flex-direction: column;   
}

.full-text-hi-there > #hithere {
    font-size: 20px;
}

.full-text-hi-there > #username {
    font-size: 30px;
    font-weight: bold;
}

#header-2nd-row > .buttons-part {
    display: flex;
    gap: 1.5vw;
    align-items: center;
}

.buttons-part > button {
    color: white;
    background-color: blue;
    border-radius: 2vh;
    width: 8vw;
    height: 4vh;
}

/* Main-content */



.main-content > .projects {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
}


.projects > .list-of-projects {
    flex: 1 ;
    background-color: green;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


/* -------- */


.main-content > .announcements-and-trendings {
    display: grid;
    grid-row: 1fr 1fr;
}

.announcements-and-trendings > .annoucements {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.announcements-and-trendings > .trendings {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;

}

.annoucements > .list-of-annoucements {
    flex: 1;
    background-color: white;
}

.trendings > .list-of-trendings {
    flex: 1;
    background-color: white;
}